@use "/scss/theme" as *;
@use "/scss/shared/visual/panel" as *;

nav {
  @include panel-generic;

  h3 {
    text-align: center;
  }

  button,
  a.button {
    width: 100%;
    margin: $component-padding 0;
  }
}
